.box {
  position: relative;
  background-color: #96b697;
  width: 25%;
  height: 25vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e6cc4;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

/*LOADING SPACE*/

.contain {
  animation-delay: 4s;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s
}

.icon:nth-child(3) img {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}

.icon:nth-child(4) img {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s
}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0, 0) rotateZ(180deg);
  transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}

@keyframes anim {
  0% {
    -webkit-transform: scale(0, 0) rotateZ(-90deg);
    transform: scale(0, 0) rotateZ(-90deg);
    opacity: 0
  }

  30% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  50% {
    -webkit-transform: scale(1, 1) rotateZ(0deg);
    transform: scale(1, 1) rotateZ(0deg);
    opacity: 1
  }

  80% {
    -webkit-transform: scale(0, 0) rotateZ(90deg);
    transform: scale(0, 0) rotateZ(90deg);
    opacity: 0
  }
}


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #dee1e7;
  font-family: Inter, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  cursor: pointer;
}

.social:last-child {
  margin-right: 0px;
}

.google {
  background-color: #9e9e9e;
}

.apple {
  background-color: black;
}

.facebook {
  background-color: #1977f2;
}

.social svg {
  fill: white;
}

.with-social {
  display: flex;
  align-items: center;
  margin: auto;
  width: 174px;
  margin-top: 20px;
}

.be-main {
  width: 0.5px;
  height: 28px;
  background-color: #d2d2d2;
  margin-left: 10px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
}

.icon-email {
  width: 15px;
  height: 15px;
}

.icon-continue {
  fill: #2abe88;
  width: 15px;
  height: 15px;
}

.input-box label {
  position: absolute;
  text-align: left;
  font-size: 0.5rem;
  pointer-events: none;
  transition: 0.5s;
  font-size: 0.8rem;
  top: 2px;
  left: 0;
}

.input:focus~label,
.input:valid~label {
  font-size: 0.5rem;
  top: -11px;
}

.input-box {
  width: 250px;
  margin: 0 10px;
  position: relative;
}

.continue {
  background-color: #0266ff;
  color: white;
  border: none;
  width: 330px;
  height: 45px;
  border-radius: 11px;
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
}

.input-main {
  width: 330px;
  height: 52px;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.btn-switch {
  height: 37px;
  width: 159px;
  border-radius: 11px;
  line-height: 37px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 4px;
}

.singin {
  float: left;
  background-color: white;
}

.singup {
  float: left;
  color: #737375;
}

.switch-details {
  border-radius: 11px;
  width: 330px;
  height: 45px;
  padding: 4px;
  padding-right: 0;
  margin: auto;
  margin-top: 20px;
  background-color: #f0eff2;
}

.login-main p {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #ababab;
}

.login-main h1 {
  font-size: 1.5rem;
}

.container {
  width: 1000px;
  height: 700px;
  margin: 65px auto;
  background-color: white;
  transition: 0.5s;
  z-index: 999;
}

.detalis-main {
  text-align: center;
  float: left;
  width: 50%;
  height: 100%;
  padding-top: 150px;
}

.logo {
  width: 155px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.money-locker {
  float: right;
  width: 50%;
  height: 85%;
  padding-top: 130px;
}

.title-social {
  color: #949494;
  font-size: 0.8rem;
  margin-top: 15px;
  display: flex;
  width: 310px;
  margin: auto;
  margin-top: 18px;
  align-items: center;
}

.title-social::before {
  content: "";
  display: block;
  width: 90px;
  height: 0.5px;
  background-color: #949494;
  margin-right: 13px;
}

.title-social::after {
  content: "";
  display: block;
  width: 90px;
  height: 0.5px;
  background-color: #949494;
  margin-left: 13px;
}

@media only screen and (max-width: 1020px) {
  .money-locker {
    display: none;
  }

  .detalis-main {
    width: 100%;
  }

  .container {
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    width: 100%;
  }
}


.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  height: 400px;
  margin: 80px auto;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.card img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.card h2 {
  margin: 20px 0 10px;
  text-align: center;
}

.card p {
  font-size: 16px;
  margin: 10px;
  text-align: justify;
}

.card button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.card button:hover {
  background-color: #3e8e41;
}

form {
  margin: 10px;
  text-align: center;
}

form input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

form button {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  padding: 10px
}

/* Start Order Styles */
.point-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.point-bar {
  width: 80%;
  height: 20px;
  background-color: #ddd;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.point-bar::before,
.point-bar::after {
  content: '';
  display: block;
  height: 100%;
  background-color: #f8b500;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: width 0.5s ease;
}

.point-bar::before {
  width: 0;
  z-index: 2;
}

.point-bar::after {
  width: var(--point-percentage);
}

.point-counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.rank-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.rank {
  width: 20%;
  text-align: center;
}


.buy-button {
  padding: 15px 25px;
  background-color: #f8b500;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.payment {
  padding: 40px 0;
}

.payment form {
  padding-top: 40px;
}

.payment form input {
  border-radius: 15px;
  width: 350px;
  outline: none;
  border-color: #f8b500;
}

.payment h5 {
  color: darkblue;
  font-size: 60px;
}


.gradient-background {
  height: 600px;
  background: linear-gradient(62deg, #4275f5, #42a4f5, #42f5c5, #23D5AB);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;

}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* End Order Styles */